<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <org.jenkinsci.plugins.dockerhub.notification.DockerHubTrigger plugin="dockerhub-notification@1.0.2">
      <spec></spec>
      <options class="vector">
        <org.jenkinsci.plugins.dockerhub.notification.opt.impl.TriggerOnSpecifiedImageNames>
          <repoNames>
            <string>csanchez/jenkins-swarm-slave</string>
          </repoNames>
        </org.jenkinsci.plugins.dockerhub.notification.opt.impl.TriggerOnSpecifiedImageNames>
      </options>
    </org.jenkinsci.plugins.dockerhub.notification.DockerHubTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>env | sort | grep DOCKER</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>